.menuContainer{
    margin-top: 5em;
}

.displayBlock{
    display:block;
}

.roomSelect{
    max-width: 40%;
}

.littleMargin{
    margin: 1rem 0rem;
}

.littlePadding{
    padding: 0.6rem 2rem;
}

.displayInline{
    display: inline;
}

.statusNotReady{
    background-color:red;
    border-radius: .5em;
    padding: .2em;
}

.statusReady{
    background-color:green;
    border-radius: .5em;
    padding: .2em;
}

.roomGameButton{
    margin-top: 1em;
}

#locationImage{
    max-width: 500px;
    max-height: 500px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.imageContainer{
    height: 500px;
    width: 500px;
    margin: auto;
}