.menuContainer{
    margin-top: 5em;
}

.displayBlock{
    display:block;
}

.roomSelect{
    max-width: 40%;
}

.littleMargin{
    margin: 1rem 0rem;
}

.littlePadding{
    padding: 0.6rem 2rem;
}

.displayInline{
    display: inline;
}

.statusNotReady{
    background-color:#D22B2B	;
    border-radius: .5em;
    padding: .2em;
    color: white;
    padding-left: .4em;
    padding-right: .4em;
}

.statusReady{
    background-color:#50C878;
    border-radius: .5em;
    padding: .2em;
    padding-left: .4em;
    padding-right: .4em;
}

.roomGameButton{
    margin-top: 1em;
}

.imageContainer{
    max-width: 500px;
    max-height: 500px;
    height: 500px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

.btn:hover {
    outline: none;
    box-shadow: none;
}

#locationImage{
    border-radius: .25rem;
}

.iconPadding{
    padding-right: .3em;
}